*{
    padding: 3px;
}

.container {
    display: grid;
    background-color: rgb(208, 224, 224);
    border: 2px solid rgb(68, 49, 49);
    border-radius: 4px;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 2fr 2fr 2fr;
    width: 600px;
    text-align: center;
    font-size: 4mm;
    box-shadow: 1px 1px 10px ;
    padding: 4px;
    
    
}

.box{
    
    border: 1px solid;
    border-radius: 2px;
    margin: 5px;
    background-color: rgb(139, 156, 241);
    align-content: center;
    box-shadow: 0px 0px 6px  rgb(25, 184, 46)

}

#lunch {
    
    grid-row-start: 2;
    grid-row-end:9 ;
    grid-column-start: 5;
    grid-column-end: 5;
    writing-mode: vertical-lr;
     width: 20px; 
    word-spacing: 15px;
    letter-spacing: 4px;
    
    

}
#head{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 9;
    margin: 5px;
    height: 20px;
    font-weight: bold;
    word-spacing: 8px;
    font-size: 5mm;
}
.head{
    font-weight: bold;
    font-size: 14px;
    
}
#lab{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}
#lab2{
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 6;
    grid-column-end: 9;
}
#game{
    grid-row-start: 8;
    grid-row-end: 8;
    grid-column-start: 6;
    grid-column-end: 9;
    
}



